1.MSSV: 20520435

2.Họ tên: Nguyễn Duy Đạt

3.Bài tập: 4

4.Ngày thực hiện: 7/10/2022

Sử dụng data đã cung cấp để thử nghiệm trên các mô hình sau:

- Linear Regression

- Random Forest

- Support Vector Regression (Linear Kernel, RBF Kernel, Polynomial Kernel)

Kết quả của bài tập này là bảng so sánh các phương pháp trên các dataset với các độ lỗi MSE của Train, Val, Test set.

Các bạn nộp:

- Source code

- Kết quả

- Nhận xét kết quả

# I.Source code

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
%cd "/content/drive/MyDrive/CS116 "

/content/drive/MyDrive/CS116

In [ ]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error
from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import MinMaxScaler

In [ ]:
from sklearn.linear_model import LinearRegression
from sklearn.ensemble import RandomForestRegressor
from sklearn.svm import SVR

In [ ]:
lr = LinearRegression()
rf = RandomForestRegressor()
svr_linear = SVR(kernel='linear')
svr_rbf = SVR(kernel='rbf')
svr_poly = SVR(kernel='poly')

In [ ]:
model = [lr, rf, svr_linear, svr_rbf, svr_poly]
name = ['Linear regression', 'Random forest', 'SVM Linear', 'SVM rbf', 'SVM poly']

def evaluate(X_train, y_train, X_val, y_val, X_test, y_test):  

  for i in range(len(model)):
    res = model[i].fit(X_train, y_train)
    y_train_pred = res.predict(X_train)
    y_val_pred = res.predict(X_val)
    y_test_pred = res.predict(X_test)

    print('------------------', name[i], '------------------')
    print('MSE on train: ', round(mean_squared_error(y_train, y_train_pred), 3))
    print('MSE on val: ', round(mean_squared_error(y_val, y_val_pred), 3))
    print('MSE on test: ', round(mean_squared_error(y_test, y_test_pred), 3))
    print('-------------------------------------------------')

## 1.Salary_Data

In [ ]:
df1 = pd.read_csv('Salary_Data.csv')
df1.head()

   YearsExperience   Salary
0              1.1  39343.0
1              1.3  46205.0
2              1.5  37731.0
3              2.0  43525.0
4              2.2  39891.0

In [ ]:
X_df1 = df1.drop(columns='Salary')
y_df1 = df1['Salary']

In [ ]:
# Chia train/test 80:20
X_train_df1, X_test_df1, y_train_df1, y_test_df1 = train_test_split(X_df1, y_df1, test_size=0.2, random_state=42, shuffle=True)

In [ ]:
# Chia train/val 80:20 từ train trên
X_train_df1, X_val_df1, y_train_df1, y_val_df1 = train_test_split(X_train_df1, y_train_df1, test_size=0.2, random_state=42, shuffle=True)

In [ ]:
evaluate(X_train_df1, y_train_df1, X_val_df1, y_val_df1, X_test_df1, y_test_df1)

------------------ Linear regression ------------------
MSE on train:  30816430.904
MSE on val:  13998817.774
MSE on test:  48407730.461
-------------------------------------------------
------------------ Random forest ------------------
MSE on train:  4527608.702
MSE on val:  29224486.831
MSE on test:  56934421.575
-------------------------------------------------
------------------ SVM Linear ------------------
MSE on train:  876020632.49
MSE on val:  1126422884.972
MSE on test:  991070731.169
-------------------------------------------------
------------------ SVM rbf ------------------
MSE on train:  882970684.74
MSE on val:  1135345776.794
MSE on test:  997751754.546
-------------------------------------------------
------------------ SVM poly ------------------
MSE on train:  719312652.109
MSE on val:  911456098.27
MSE on test:  825555447.978
-------------------------------------------------

## 2.Position_Salaries

In [ ]:
df2 = pd.read_csv('Position_Salaries.csv')
df2.head()

            Position  Level  Salary
0   Business Analyst      1   45000
1  Junior Consultant      2   50000
2  Senior Consultant      3   60000
3            Manager      4   80000
4    Country Manager      5  110000

In [ ]:
X_df2 = df2.drop(columns='Salary')
y_df2 = df2['Salary']

In [ ]:
X_df2 = pd.get_dummies(X_df2)
X_df2.head()

,Level,Position_Business Analyst,Position_C-level,Position_CEO,Position_Country Manager,Position_Junior Consultant,Position_Manager,Position_Partner,Position_Region Manager,Position_Senior Consultant,Position_Senior Partner
0,1,1,0,0,0,0,0,0,0,0,0
1,2,0,0,0,0,1,0,0,0,0,0
2,3,0,0,0,0,0,0,0,0,1,0
3,4,0,0,0,0,0,1,0,0,0,0
4,5,0,0,0,1,0,0,0,0,0,0

In [ ]:
# Chia train/test 80:20
X_train_df2, X_test_df2, y_train_df2, y_test_df2 = train_test_split(X_df2, y_df2, test_size=0.2, random_state=42, shuffle=True)

In [ ]:
# Chia train/val 80:20 từ train trên
X_train_df2, X_val_df2, y_train_df2, y_val_df2 = train_test_split(X_train_df2, y_train_df2, test_size=0.2, random_state=42, shuffle=True)

In [ ]:
evaluate(X_train_df2, y_train_df2, X_val_df2, y_val_df2, X_test_df2, y_test_df2)

------------------ Linear regression ------------------
MSE on train:  0.0
MSE on val:  60867255396.362
MSE on test:  33466596757.47
-------------------------------------------------
------------------ Random forest ------------------
MSE on train:  11115165000.0
MSE on val:  1746980000.0
MSE on test:  21398045000.0
-------------------------------------------------
------------------ SVM Linear ------------------
MSE on train:  119942970853.0
MSE on val:  10552752340.0
MSE on test:  60608501908.0
-------------------------------------------------
------------------ SVM rbf ------------------
MSE on train:  119957885320.505
MSE on val:  10562275104.345
MSE on test:  60624516407.287
-------------------------------------------------
------------------ SVM poly ------------------
MSE on train:  119953431065.829
MSE on val:  10561513737.969
MSE on test:  60621182863.374
-------------------------------------------------

## 3.50_Startups

In [ ]:
df3 = pd.read_csv('50_Startups.csv')
df3.head()

   R&D Spend  Administration  Marketing Spend       State     Profit
0  165349.20       136897.80        471784.10    New York  192261.83
1  162597.70       151377.59        443898.53  California  191792.06
2  153441.51       101145.55        407934.54     Florida  191050.39
3  144372.41       118671.85        383199.62    New York  182901.99
4  142107.34        91391.77        366168.42     Florida  166187.94

In [ ]:
X_df3 = df3.drop(columns='Profit')
y_df3 = df3['Profit']

In [ ]:
X_df3 = pd.get_dummies(X_df3)

In [ ]:
scaler = MinMaxScaler()
X_df3[['R&D Spend', 'Administration', 'Marketing Spend']] = scaler.fit_transform(X_df3[['R&D Spend', 'Administration', 'Marketing Spend']])
X_df3.head()

,R&D Spend,Administration,Marketing Spend,State_California,State_Florida,State_New York
0,1.000000,0.651744,1.000000,0,0,1
1,0.983359,0.761972,0.940893,1,0,0
2,0.927985,0.379579,0.864664,0,1,0
3,0.873136,0.512998,0.812235,0,0,1
4,0.859438,0.305328,0.776136,0,1,0

In [ ]:
# Chia train/test 80:20
X_train_df3, X_test_df3, y_train_df3, y_test_df3 = train_test_split(X_df3, y_df3, test_size=0.2, random_state=42, shuffle=True)

In [ ]:
# Chia train/val 80:20
X_train_df3, X_val_df3, y_train_df3, y_val_df3 = train_test_split(X_train_df3, y_train_df3, test_size=0.2, random_state=42, shuffle=True)

In [ ]:
evaluate(X_train_df3, y_train_df3, X_val_df3, y_val_df3, X_test_df3, y_test_df3)

------------------ Linear regression ------------------
MSE on train:  79285620.69
MSE on val:  95941534.077
MSE on test:  86193059.485
-------------------------------------------------
------------------ Random forest ------------------
MSE on train:  14553776.249
MSE on val:  102571441.669
MSE on test:  96245056.165
-------------------------------------------------
------------------ SVM Linear ------------------
MSE on train:  1613029615.089
MSE on val:  2340687988.137
MSE on test:  955678665.321
-------------------------------------------------
------------------ SVM rbf ------------------
MSE on train:  1613107548.771
MSE on val:  2340882757.848
MSE on test:  955801644.642
-------------------------------------------------
------------------ SVM poly ------------------
MSE on train:  1610646364.604
MSE on val:  2338015550.52
MSE on test:  954477492.499
-------------------------------------------------

# II.Kết quả

In [ ]:
pip install tabulate

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: tabulate in /usr/local/lib/python3.7/dist-packages (0.8.10)

In [ ]:
from tabulate import tabulate

In [ ]:
model = [lr, rf, svr_linear, svr_rbf, svr_poly]
res_df1 = []
res_df2 = []
res_df3 = []

def evaluate_2(res_df, X_train, y_train, X_val, y_val, X_test, y_test):  
  for i in range(len(model)):
    res = model[i].fit(X_train, y_train)
    y_train_pred = res.predict(X_train)
    y_val_pred = res.predict(X_val)
    y_test_pred = res.predict(X_test)
    res_train = round(mean_squared_error(y_train, y_train_pred), 3)
    res_df.append(res_train)
    res_val = round(mean_squared_error(y_val, y_val_pred), 3)
    res_df.append(res_val)
    res_test = round(mean_squared_error(y_test, y_test_pred), 3)
    res_df.append(res_test)

In [ ]:
evaluate_2(res_df1, X_train_df1, y_train_df1, X_val_df1, y_val_df1, X_test_df1, y_test_df1)

In [ ]:
evaluate_2(res_df2, X_train_df2, y_train_df2, X_val_df2, y_val_df2, X_test_df2, y_test_df2)

In [ ]:
evaluate_2(res_df3, X_train_df3, y_train_df3, X_val_df3, y_val_df3, X_test_df3, y_test_df3)

In [ ]:
res_df1 = [str(x) for x in res_df1]
res_df2 = [str(x) for x in res_df2]
res_df3 = [str(x) for x in res_df3]

In [ ]:
#create data
data = [[" ", "Salary_Data", "Salary_Data", "Salary_Data", "Position_Salaries",  "Position_Salaries", "Position_Salaries", "50_Startups", "50_Startups", "50_Startups"],
        ["Methods", "Train", "Val", "Test", "Train", "Val", "Test", "Train", "Val", "Test"],
        ["Linear Regression", res_df1[0], res_df1[1], res_df1[2], res_df2[0], res_df2[1], res_df2[2], res_df3[0], res_df3[1], res_df3[2]], 
        ["Random Forest", res_df1[3], res_df1[4], res_df1[5], res_df2[3], res_df2[4], res_df2[5], res_df3[3], res_df3[4], res_df3[5]], 
        ["SVM - linear", res_df1[6], res_df1[7], res_df1[8], res_df2[6], res_df2[7], res_df2[8], res_df3[6], res_df3[7], res_df3[8]], 
        ["SVM - rbf", res_df1[9], res_df1[10], res_df1[11], res_df2[9], res_df2[10], res_df2[11], res_df3[9], res_df3[10], res_df3[11]],
        ["SVM - poly", res_df1[12], res_df1[13], res_df1[14], res_df2[12], res_df2[13], res_df2[14], res_df3[12], res_df3[13], res_df3[14]]]
#display table
print(tabulate(data, headers='firstrow', tablefmt='fancy_grid'))

╒═══════════════════╤═══════════════╤════════════════╤═══════════════╤═════════════════════╤═════════════════════╤═════════════════════╤════════════════╤════════════════╤═══════════════╕
│                   │ Salary_Data   │ Salary_Data    │ Salary_Data   │ Position_Salaries   │ Position_Salaries   │ Position_Salaries   │ 50_Startups    │ 50_Startups    │ 50_Startups   │
╞═══════════════════╪═══════════════╪════════════════╪═══════════════╪═════════════════════╪═════════════════════╪═════════════════════╪════════════════╪════════════════╪═══════════════╡
│ Methods           │ Train         │ Val            │ Test          │ Train               │ Val                 │ Test                │ Train          │ Val            │ Test          │
├───────────────────┼───────────────┼────────────────┼───────────────┼─────────────────────┼─────────────────────┼─────────────────────┼────────────────┼────────────────┼───────────────┤
│ Linear Regression │ 30816430.904  │ 13998817.774   │ 48407730.461  │ 0.0                 │ 60867255396.362     │ 33466596757.47      │ 79285620.69    │ 95941534.077   │ 86193059.485  │
├───────────────────┼───────────────┼────────────────┼───────────────┼─────────────────────┼─────────────────────┼─────────────────────┼────────────────┼────────────────┼───────────────┤
│ Random Forest     │ 8189147.887   │ 18951701.074   │ 59162633.108  │ 14610468333.333     │ 2585405000.0        │ 14732530000.0       │ 17532819.176   │ 113661292.555  │ 85070852.718  │
├───────────────────┼───────────────┼────────────────┼───────────────┼─────────────────────┼─────────────────────┼─────────────────────┼────────────────┼────────────────┼───────────────┤
│ SVM - linear      │ 876020632.49  │ 1126422884.972 │ 991070731.169 │ 119942970853.0      │ 10552752340.0       │ 60608501908.0       │ 1613029615.089 │ 2340687988.137 │ 955678665.321 │
├───────────────────┼───────────────┼────────────────┼───────────────┼─────────────────────┼─────────────────────┼─────────────────────┼────────────────┼────────────────┼───────────────┤
│ SVM - rbf         │ 882970684.74  │ 1135345776.794 │ 997751754.546 │ 119957885320.505    │ 10562275104.345     │ 60624516407.287     │ 1613107548.771 │ 2340882757.848 │ 955801644.642 │
├───────────────────┼───────────────┼────────────────┼───────────────┼─────────────────────┼─────────────────────┼─────────────────────┼────────────────┼────────────────┼───────────────┤
│ SVM - poly        │ 719312652.109 │ 911456098.27   │ 825555447.978 │ 119953431065.829    │ 10561513737.969     │ 60621182863.374     │ 1610646364.604 │ 2338015550.52  │ 954477492.499 │
╘═══════════════════╧═══════════════╧════════════════╧═══════════════╧═════════════════════╧═════════════════════╧═════════════════════╧════════════════╧════════════════╧═══════════════╛

# III.Nhận xét kết quả

- Đối với Salary_Data, LinearRegression cho kết quả test tốt nhất, cả 5 mô hình có khả năng xẩy ra overfitting.

- Đối với Position_Salaries, RandomForest cho kết quả tốt nhất, MSE ở test nhỏ nhất trong 5 model là 14732530000.0. LinearRegression có MSE ở train bằng 0 nên overfitting rõ ràng.

- Đối với 50_Startups, LinearRegression có lẽ sẽ tốt nhất trong 5 model, nhìn chung sai số ở cả 5 model lớn và overfitting cao.